@model FT_Models.PostReplyViewModels.PostReplyDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostReplyDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReplyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplyCreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyCreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplyContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplyCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplyCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReplyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
